/node_modules
/output/
/.pre-commit-config.yaml
/.psa-stash
/.psci_modules/
/.spago/
/.spago2nix/
/.direnv
/.envrc
/dist/
/demo/package-lock.json
/demo/index.js
/demo/node_modules/
/plutip-env/payment.skey
/keys/*.sk
/keys/*.vk
/keys/*.addr
/hydra-persist/
/result
